@model DefIntMVC.Models.Siniestro

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Siniestro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Fecha Inicio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

        <dt>
            @Html.DisplayName("Daños Materiales")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dañosMateriales)
        </dd>

        <dt>
            @Html.DisplayName("Daños Personales")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dañosPersonales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>

        <dd>
            @*@Html.DisplayFor(modelItem => item.Fotografia)*@
            @{
                var base64 = Convert.ToBase64String(Model.Fotografia);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
            }
            <img src='@imgsrc' style="max-width:150px;max-height:150px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionario.Nombre)
        </dd>

        <dt>
            @Html.DisplayName("Placa")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.polizaVehicular.Placa)
        </dd>

        <dt>
            @Html.DisplayName("Fecha Fin")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFin)
        </dd>

        <dt>
            @Html.DisplayName("Descripcion Cierre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionCierre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idSiniestro }) |
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
