@model IEnumerable<DefIntMVC.Models.Siniestro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dañosMateriales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dañosPersonales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fotografia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionCierre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.polizaVehicular.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dañosMateriales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dañosPersonales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fotografia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionCierre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.polizaVehicular.Tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idSiniestro }) |
            @Html.ActionLink("Details", "Details", new { id=item.idSiniestro }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idSiniestro })
        </td>
    </tr>
}

</table>
