@model IEnumerable<DefIntMVC.Models.DetalleGasto>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Gastos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Costo Sepelio")
        </th>
        <th>
            @Html.DisplayName("Imagen Costo Sepelio")
        </th>
        <th>
            @Html.DisplayName("Costo Atencion Medica")
        </th>
        <th>
            @Html.DisplayName("Imagen Costo Atencion Medica")
        </th>
        <th>
            @Html.DisplayName("Costo Daños Propiedad")
        </th>
        <th>
            @Html.DisplayName("Imagen Costo Daños Propiedad")
        </th>
        <th>
            @Html.DisplayName("Costo Muerte Accidente")
        </th>
        <th>
            @Html.DisplayName("Imagen Costo Muerte Accidente")
        </th>
        <th>
            @Html.DisplayName("Costo Perdida Total")
        </th>
        <th>
            @Html.DisplayName("Imagen Costo Perdida Total")
        </th>
        <th>
            @Html.DisplayName("Costo Reparacion Vehicular")
        </th>
        <th>
            @Html.DisplayName("Imagen Costo Reparacion Vehicular")
        </th>
        <th>
            @Html.DisplayName("Id Siniestro")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sepelio)
        </td>
        <td>
            @{ 
                var imgsrc1 = "../../x.jpg";
                if (item.imagenSepelio != null)
                {
                    var base641 = Convert.ToBase64String(item.imagenSepelio);
                    imgsrc1 = string.Format("data:image/gif;base64,{0}", base641);
                }
            }
            <img src='@imgsrc1' style="max-width:150px;max-height:150px" />
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atencionMedica)
        </td>
        <td>
            @{
                var imgsrc2 = "../../x.jpg";
                if (item.imagenAtMedic != null)
                {
                    var base642 = Convert.ToBase64String(item.imagenAtMedic);
                    imgsrc2 = string.Format("data:image/gif;base64,{0}", base642);
                }
            }
            <img src='@imgsrc2' style="max-width:150px;max-height:150px" />
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dañosPropiedad)
        </td>
        <td>
            @{
                var imgsrc3 = "../../x.jpg";
                if (item.imagenDProp != null)
                {
                    var base643 = Convert.ToBase64String(item.imagenDProp);
                    imgsrc3 = string.Format("data:image/gif;base64,{0}", base643);
                }
            }
            <img src='@imgsrc3' style="max-width:150px;max-height:150px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.muerteAccidente)
        </td>
        <td>
            @{
                var imgsrc4 = "../../x.jpg";
                if (item.imagenMuerteAcc != null)
                {
                    var base644 = Convert.ToBase64String(item.imagenMuerteAcc);
                    imgsrc4 = string.Format("data:image/gif;base64,{0}", base644);
                }
            }
            <img src='@imgsrc4' style="max-width:150px;max-height:150px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.perdidaTotal)
        </td>
        <td>
            @{
                var imgsrc5 = "../../x.jpg";
                if (item.imagenPerdTotal != null)
                {
                    var base645 = Convert.ToBase64String(item.imagenPerdTotal);
                    imgsrc5 = string.Format("data:image/gif;base64,{0}", base645);
                }
            }
            <img src='@imgsrc5' style="max-width:150px;max-height:150px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reparacionVehicular)
        </td>
        <td>
            @{
                var imgsrc6 = "../../x.jpg";
                if (item.imagenRepVehicular != null)
                {
                    var base646 = Convert.ToBase64String(item.imagenRepVehicular);
                    imgsrc6 = string.Format("data:image/gif;base64,{0}", base646);
                }
            }
            <img src='@imgsrc6' style="max-width:150px;max-height:150px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Siniestro.idSiniestro)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idDetalleGasto }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idDetalleGasto }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idDetalleGasto })
        </td>
    </tr>
}

</table>
