@model DefIntMVC.Models.Bitacora

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bitacora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.terminal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.terminal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aplicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aplicacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codbit }) |
    @Html.ActionLink("Back to List", "Index")
</p>
