@model IEnumerable<DefIntMVC.Models.Bitacora>

@{
    ViewBag.Title = "Index";
}

<h2>Bitacora</h2>
<p>Aqui se puede visualizar todos los cambios dentro del sistema</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.terminal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aplicacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.terminal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aplicacion)
        </td>
    </tr>
}

</table>
