@model IEnumerable<DefIntMVC.Models.polizaVehicular>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Polizas de Seguro Vehicular</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Fecha Inicio")
        </th>
        <th>
            @Html.DisplayName("Fecha Fin")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chasis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayName("Nombre Cliente")
        </th>
        <th>
            @Html.DisplayName("Nombre Funcionario")
        </th>
        <th>
            @Html.DisplayName("Tipo Poliza")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chasis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoPoliza.NombreTP)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idPoliza }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idPoliza }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idPoliza })
        </td>
    </tr>
}

</table>
