@model DefIntMVC.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaNac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
